<h1>Employee Management Page</h1>
<p>This page will contain the read,update,delete and create features</p>
<div *ngIf="!emplist">
  Loading......
</div>
<div>
  <button type="button" [routerLink]="['/create-employee']">New Employee</button>
</div>
<table *ngIf="emplist">
  <thead>
    <tr>
      <th> Employee Id </th>
      <th> Name </th>
      <th> Gender </th>
      <th> City </th>
      <th> Department </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of emplist">
      <td>{{emp.employeeId}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.gender}}</td>
      <td>{{emp.city}}</td>
      <td>{{emp.department}}
      <td>
        <a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a>
        <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>
      </td>


      
      
    </tr>
  </tbody>
</table>
